In [9]:
import scrapy
from scrapy.selector import Selector
class smard_spider(scrapy.Spider):
    name = "smard"
    start_urls = [
        "https://www.smard.de/en/downloadcenter/download_market_data/5730"
    ]
    print(start_urls)

    def parse(self, response):
        select_main_category = response.css("select.ng-pristine ng-valid ng-not-empty ng-touched::text").extract()
    print(parse)

['https://www.smard.de/en/downloadcenter/download_market_data/5730']
<function smard_spider.parse at 0x000002EF1EE9DF70>

In [1]:
from tzlocal import get_localzone  # tzlocal needs to be extra installed
import pandas as pd


df = pd.read_csv(r"/Users/shakhawat_hossain_turag/PycharmProjects/EWL-DUE/outfile.csv")
df.head()

                  Unnamed: 0      0
0  2017-12-01 00:00:00+01:00  61.81
1  2017-12-01 01:00:00+01:00  49.34
2  2017-12-01 02:00:00+01:00  47.53
3  2017-12-01 03:00:00+01:00  49.14
4  2017-12-01 04:00:00+01:00  44.96

In [2]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df1 = df.iloc[:,0]
df1

0      2017-12-01 00:00:00+01:00
1      2017-12-01 01:00:00+01:00
2      2017-12-01 02:00:00+01:00
3      2017-12-01 03:00:00+01:00
4      2017-12-01 04:00:00+01:00
                 ...
739    2017-12-31 19:00:00+01:00
740    2017-12-31 20:00:00+01:00
741    2017-12-31 21:00:00+01:00
742    2017-12-31 22:00:00+01:00
743    2017-12-31 23:00:00+01:00
Name: Unnamed: 0, Length: 744, dtype: object

In [17]:
df.tz_localize(None)

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [15]:
df.set_index("Unnamed: 0")

                               0
Unnamed: 0
2017-12-01 00:00:00+01:00  61.81
2017-12-01 01:00:00+01:00  49.34
2017-12-01 02:00:00+01:00  47.53
2017-12-01 03:00:00+01:00  49.14
2017-12-01 04:00:00+01:00  44.96
...                          ...
2017-12-31 19:00:00+01:00  22.00
2017-12-31 20:00:00+01:00  19.69
2017-12-31 21:00:00+01:00  17.85
2017-12-31 22:00:00+01:00  18.94
2017-12-31 23:00:00+01:00  14.04

[744 rows x 1 columns]

In [21]:
t = pd.date_range(start="2013-05-18 12:00:00", periods=2, freq='H',
                          tz= "Europe/Brussels")

t
type(t)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
t.tz_localize(None)

DatetimeIndex(['2013-05-18 12:00:00', '2013-05-18 13:00:00'], dtype='datetime64[ns]', freq=None)